{namespace ppt=Ucreation\Properties\ViewHelpers}
<div class="tx_properties_filters">
    <f:if condition="{filters}">
        <f:form action="list" arguments="{ppt:LinkArguments()}">
            <f:for each="{filters}" as="filter">
                <f:if condition="{filter.isActive}">
                    <f:switch expression="{filter.filterKey}">
                        <f:case value="type">
                            <f:render partial="Object/List/Filters/Type" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="types">
                            <f:render partial="Object/List/Filters/Types" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="offer">
                            <f:render partial="Object/List/Filters/Offer" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="town">
                            <f:render partial="Object/List/Filters/Town" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="towns">
                            <f:render partial="Object/List/Filters/Towns" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="price">
                            <f:render partial="Object/List/Filters/Price" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="lot_size">
                            <f:render partial="Object/List/Filters/LotSize" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="presences">
                            <f:render partial="Object/List/Filters/Presences" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="status">
                            <f:render partial="Object/List/Filters/Status" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="construction_types">
                            <f:render partial="Object/List/Filters/ConstructionTypes" arguments="{filter: filter}" />
                        </f:case>
                        <f:case value="positions">
                            <f:render partial="Object/List/Filters/Positions" arguments="{filter: filter}" />
                        </f:case>
                    </f:switch>
                </f:if>
            </f:for>
            <div class="postForm">
                <f:form.submit name="submitFilters" value="{f:translate(key: 'filter.submit')}" />
            </div>
        </f:form>
    </f:if>
</div>