
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Object</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_properties" >
	<tr>
		<th><f:translate key="tx_properties_domain_model_object.name" /></th>
		<th><f:translate key="tx_properties_domain_model_object.type" /></th>
		<th><f:translate key="tx_properties_domain_model_object.sort" /></th>
		<th><f:translate key="tx_properties_domain_model_object.offer" /></th>
		<th><f:translate key="tx_properties_domain_model_object.images" /></th>
		<th><f:translate key="tx_properties_domain_model_object.year" /></th>
		<th><f:translate key="tx_properties_domain_model_object.environmental_class" /></th>
		<th><f:translate key="tx_properties_domain_model_object.description" /></th>
		<th><f:translate key="tx_properties_domain_model_object.street" /></th>
		<th><f:translate key="tx_properties_domain_model_object.zip_code" /></th>
		<th><f:translate key="tx_properties_domain_model_object.contact" /></th>
		<th><f:translate key="tx_properties_domain_model_object.price" /></th>
		<th><f:translate key="tx_properties_domain_model_object.rent_price" /></th>
		<th><f:translate key="tx_properties_domain_model_object.rent_price_type" /></th>
		<th><f:translate key="tx_properties_domain_model_object.price_per_square_metre" /></th>
		<th><f:translate key="tx_properties_domain_model_object.lot_size" /></th>
		<th><f:translate key="tx_properties_domain_model_object.living_area" /></th>
		<th><f:translate key="tx_properties_domain_model_object.garden_area" /></th>
		<th><f:translate key="tx_properties_domain_model_object.number_of_rooms" /></th>
		<th><f:translate key="tx_properties_domain_model_object.latitude" /></th>
		<th><f:translate key="tx_properties_domain_model_object.longitude" /></th>
		<th><f:translate key="tx_properties_domain_model_object.latitude_longitude_md5" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{objects}" as="object">
		<tr>
			<td><f:link.action action="show" arguments="{object : object}"> {object.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.sort}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.offer}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.images.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.year}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.environmentalClass}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.street}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.zipCode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.contact}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.price}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.rentPrice}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.rentPriceType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.pricePerSquareMetre}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.lotSize}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.livingArea}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.gardenArea}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.numberOfRooms}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.latitude}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.longitude}</f:link.action></td>
			<td><f:link.action action="show" arguments="{object : object}"> {object.latitudeLongitudeMd5}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{object : object}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{object : object}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Object</f:link.action>
</f:section>