{namespace ppt=Ucreation\Properties\ViewHelpers}
<div class="tx_properties">
    <div class="tx_properties_wallpaper">
        <h1>Marktbalie</h1>
        {f:cObject(typoscriptObjectPath: 'lib.properties.listCategoriesAction')}
    </div>
    <div class="tx_properties_wrapper">
        <div class="tx_properties_sidebar">
            {f:cObject(typoscriptObjectPath: 'lib.properties.filtersAction')}
        </div>
        <div class="tx_properties_content">
            <div class="tx_properties_toolbar">

            </div>
            <f:if condition="{objects}">
                <f:then>
                <div class="tx_properties_objets_list">
                    <f:for each="{objects}" as="object">
                        <f:switch expression="{object.type}">
                            <f:case value="1">
                                <f:render partial="Object/List/Building" arguments="{object: object, settings: settings}" />
                            </f:case>
                            <f:case value="2">
                                <f:render partial="Object/List/Lot" arguments="{object: object, settings: settings}" />
                            </f:case>
                        </f:switch>
                    </f:for>
                </div>
                </f:then>
                <f:else>
                    <div class="tx_properties_no_objects_message">
                        <p>{f:translate(key: 'objects.no_results')}</p>
                    </div>
                </f:else>
            </f:if>
        </div>
        <div class="clearboth"> </div>
    </div>
</div>