
<table class="tx-properties" >
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.name" />
		</td>
		<td>
		{object.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.type" />
		</td>
		<td>
		{object.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.sort" />
		</td>
		<td>
		{object.sort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.offer" />
		</td>
		<td>
		{object.offer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.images" />
		</td>
		<td>
				<f:image src="{object.images.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.year" />
		</td>
		<td>
		{object.year}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.environmental_class" />
		</td>
		<td>
		{object.environmentalClass}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.description" />
		</td>
		<td>
		{object.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.street" />
		</td>
		<td>
		{object.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.zip_code" />
		</td>
		<td>
		{object.zipCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.contact" />
		</td>
		<td>
		{object.contact}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.price" />
		</td>
		<td>
		{object.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.rent_price" />
		</td>
		<td>
		{object.rentPrice}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.rent_price_type" />
		</td>
		<td>
		{object.rentPriceType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.price_per_square_metre" />
		</td>
		<td>
		{object.pricePerSquareMetre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.lot_size" />
		</td>
		<td>
		{object.lotSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.living_area" />
		</td>
		<td>
		{object.livingArea}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.garden_area" />
		</td>
		<td>
		{object.gardenArea}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.number_of_rooms" />
		</td>
		<td>
		{object.numberOfRooms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.latitude" />
		</td>
		<td>
		{object.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.longitude" />
		</td>
		<td>
		{object.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_properties_domain_model_object.latitude_longitude_md5" />
		</td>
		<td>
		{object.latitudeLongitudeMd5}
		</td>
	</tr>
</table>